.LimedSpruce {
  background-color: #000;
}
.Nevada {
  background-color: #5d6a72;
}
.Nepal {
  background-color: #82a9be;
}
.AquaIsland {
  background-color: #a0c5d9;
}
.CatskillWhite {
  background-color: #e8eef3;
}
.CatskillWhite-text {
  color: #e8eef3;
}
.YellowSea {
  background-color: #ffae00;
}
.YellowSea-text {
  background-color: #ffae00;
}

.TahitiGold {
  background-color: #ea8706;
}

.Facebook {
  background-color: #3b5998;
}
