
.logoContainer{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
}

.iconLayout {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.aegon{
    composes: iconLayout;
    background: ("images/aegon.png");
}
.ageas{
    composes: iconLayout;
    background: ("images/ageas.png");
}
.aviva{
    composes: iconLayout;
    background: ("images/aviva.png");
}
.brightgrey{
    composes: iconLayout;
    background: ("images/brightgrey.png");
}
.friendlife{
    composes: iconLayout;
    background: ("images/friendlife.png");
}
.legalandgeneral{
    composes: iconLayout;
    background: ("images/legalandgeneral.png");
}
.lv{
    composes: iconLayout;
    background: ("images/lv.png");
}
.partnership{
    composes: iconLayout;
    background: ("images/partnership.png");
}
.provident{
    composes: iconLayout;
    background: ("images/provident.png");
}
.pru{
    composes: iconLayout;
    background: ("images/pru.png");
}
.zurich{
    composes: iconLayout;
    background: ("images/zurich.png");
}
