
.logoContainer{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  /*background: #fff;*/
}

.iconLayout {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.logoLarge {
    width:100px;
    height:100px;
    padding:5px;
}


@media (max-width: 1200px) {

    .logoLarge {
        width:75px;
        height:75px;
        padding:5px;
    }


}

@media (max-width: 768px) {

    .logoLarge {
        width:60px;
        height:60px;
        padding:5px;
    }

}
