.moreInfoLink{
  color: RGB(131,169,192);
  cursor: pointer;
  font-weight: bold;
}

.lifeInsuranceContainer{
  margin-top: 30px;
  margin-bottom: 45px;
  background:#e8eef3;
  padding:15px;
    border-radius: 20px;
}

.sectionHeader{
  /*padding-top:20px;*/
  padding-bottom:20px;
  font-size: 1.5em;
  font-weight: bold;
      color: #34454f;
}

.sectionText{
  padding-left: 30px;
}

.pageTitle{
  margin-top: 40px;
  font-weight: bold;
  font-size: 2em;
  color: #34454f;
  padding-left: 65px;
}

.productContainer{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

@media (max-width: 768px) {
  .productContainer {
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .sectionText{
    padding-left: 0px;
  }

  .pageTitle{
    text-align:left;
    padding-left: 30px;

  }


}

/* Right Side contact info (Contact Information & Buttons) */

.contactContainer{
  -webkit-box-shadow: 11px 0px 65px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 0px 65px -9px rgba(0,0,0,0.75);
  box-shadow: 11px 0px 65px -9px rgba(0,0,0,0.75);
  padding: 15px;
  text-align:center;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 15px;
}

.getQuoteButton{

    margin-bottom: 15px;
}
.getFreeAdviceButton{
    background: #34454f!important;
    border-color:  #34454f!important;
    margin-bottom: 15px;
}

.contactPhoneNumber{
  color: RGB(131,169,192);
  font-weight: bold;
}
