.moreInfoLink{
  color: RGB(131,169,192);
  cursor: pointer;
  font-weight: bold;
}

.panelContentContainer{
  margin-top: 30px;
  margin-bottom: 45px;
  background:#e8eef3;
    border-radius: 20px;
}

.sectionHeader{
  padding-top:15px;
  padding-bottom:15px;
  font-size: 1.5em;
  font-weight: bold;
color: #34454f;
}

.sectionText{
  padding-left: 30px;
}

.panelTitle{
  margin-top: 40px;
  /*font-weight: bold;*/
  font-size: 2em;
  color: #34454f;
  padding-left: 65px;
}

.panelTextContainer{
  /*padding-top: 15px;*/
  padding-bottom: 50px;
  padding-left: 50px;
}

.image{
    width:100%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

@media (max-width: 768px) {

    .panelTitle{
      margin-top: 20px;
      font-weight: bold;
      font-size: 2em;
      padding-left: 15px;
      text-align: center;
    }

  .panelTextContainer {
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .sectionText{
    padding-left: 0px;
  }

  .pageTitle{
    text-align:left;
    padding-left: 30px;

  }


}
