.homeTextHR {
  border-bottom: 3px solid #1B1B1B;
}

.homeWelcomeTextContainer {
  background-color: #f8f8e0;
}

.homeWelcomeh2 {
  font-weight: bold;
}

.coverTileContainer{
  background-color: #fff;
  padding-top: 75px;
}


@media (max-width: 768px) {

  .coverTileContainer {
    background-color: transparent;
    padding: 0px;
    background-color: #fff;
    padding-top:30px;

  }
}
