.tileContainer {
  height:200px;
}
.tileImage {
  height:100px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.tileHeader{
  height: 30px;
  color: #fff;
  margin-top: 20px!important;
}
.tileButton{
  margin-top:10px;
  height:30px;
    margin-bottom: 30px;
}

.tileHeader{
  color: "#fff";
}


@media (max-width: 768px) {
  .tileContainer {
    height:150px;
  }

  .coverTileContainer {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .coverTileContainer {
    background-color: transparent;
    padding: 0px;
  }
  .tileImage {
    height:75px;
    width:auto;
    padding-top: 15px;
  }

}
