/* Navbar */
.navbar-nav{
  float:none;
}

.navbar-nav > li {
  width: 20%;
}

.navbar-default .navbar-nav>li>a {
  text-align:center;
  background-color: #404040;
  padding-bottom: 17px;
  color: #fff;
}

/* Bootstrap */
.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ptop{
  padding-top: 15px;
}
.pcolor1{
  background-color: rgb(89, 159, 68);
}

/*==================================================
=                      Header                     =
==================================================*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .header-container{
    height:400px;
  }
  .logo-container{
    height:150px;
  }
  .logo-container img{
    height:100%;
    width:100%;
  }
  .quote-container {
    margin-top:45px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .header-container{
    height:200px;
  }
  .logo-container{
    height:200px;
  }
  .logo-container img{
    height:100%;
    width:100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .header-container{
    height:200px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .header-container{
    height:200px;
  }
}
