/*Custom React select styles*/

.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 40px!important;
    padding-right: 5px;
    background-color: #34454f;
}

.Select-arrow {
    border-color: #fff transparent transparent!important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
}

/* Fix the slider color */

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #34454E;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Navbar */
.navbar-default{
  background-color:transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  text-align:center;
  background-color: transparent;
  color: #000;
  font-weight:bold;
}

.navbar .navbar-default {
  border: 0px transparent;
  margin-top:50px;
}

#navbar{
  margin-top: 25px;
}

.dropdown-menu li{
    width:100%;
}
.dropdown-menu li a {
  text-align:center;
  background-color: #404040;
  color: #fff;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #34454f;
    border-radius:25px;
}

.container-fluid{
  padding: 0px;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    overflow:hidden;
}


/* Bootstrap */
.row-no-padding > [class*='col-'] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ptop{
  padding-top: 15px;
}
.pcolor1{
  background-color: rgb(89, 159, 68);
}

/* Home image container */
.home-image-container img{
  width:100%;
}

.fixed-bg {
  background-image: url("../images/happy_family_playing.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* HOME */

/* Jumbotron */

.jumbobtron{
  font-family: 'Lalezar', cursive;
}

/* Cover main iamge */
.header-main-container{

  height:1300px;
  /* The image used */
background-image: url("../images/jumboimg2.jpg");

/* Set a specific height */

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover
}
/* Bootstrap overrides */

.btn-primary{
  border-radius:20px!important;
  background-color: RGB(234,136,6)!important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 34px;
    height: 4px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #34454d;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
/*==================================================
=                      Header                     =
==================================================*/


.stick {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    -webkit-transition:width 1s;
    -moz-transition:width 1s;
    transition:width 1s;
}

.docked-header{
  width: 100%;
  background-color: #fff;
  -webkit-transition:background-color 1s;
  -moz-transition:background-color 1s;
  transition:background-color 1s;

}
.undocked-header{
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition:background-color 1s;
  -moz-transition:background-color 1s;
  transition:background-color 1s;
}


/*==================================================
=                      Footer                     =
==================================================*/

.footerMenuTop {
    padding-top: 25px;
}
.footerMenuTop ul,
.footerMenuBottom ul
{
    padding-left: 0px;
}
.footerMenuTop li{
  display: inline-block!important;
  color: #fff!important;
  padding: 10px;
  border-right: 1px solid #a0c5d9;
  margin-bottom: 10px;
}

.footerMenuTop li a{
  display:inline-block!important;
  color: #fff!important;
  font-size: 0.9em;

}
.footerMenuTop .fa{
  color: #fff!important;
  font-size: 50px;
}

.footerMenuTop{

}
.footerMenuBottom li{
  display:inline!important;
  color: #fff!important;
  padding: 10px;
  border-right: 1px solid #a0c5d9;
  margin-bottom: 10px;
}

.footerMenuBottom li a{
  display:inline-block!important;
  color: #fff!important;
  font-size: 0.7em;

}

@media (max-width: 768px) {
  .container{
    padding: 0px;
  }
  .footerMenuTop li{
    margin-bottom: 0px;
  }
  .footerMenuTop ul{
    margin-bottom: 0px;
  }
  .footerMenuTop li a{
    font-size: 0.7em;
  }
  .footerMenuBottom li a{
    font-size: 0.6em;
  }
  .footerMenuBottom li{
    display:block!important;
    color: #fff!important;
    padding: 0px;
    border-right: 1px solid transparent;
    margin-bottom: 5px;
    text-align: center;
  }
}

.main-container{
  padding-bottom: 50px;
  padding-top: 50px;
}
