.bodyContainer{
  padding-top: 50px;
  padding-bottom: 50px;
  /*composes: TahitiGold from "../css/colours.css";*/
}

.bubbleContainer{
  padding-top:50px;
  padding:40px;
  /*composes: TahitiGold from "../css/colours.css";*/
  /*background-color: rgb(38, 153, 38);
  background-color: rgba(38, 153, 38, 0.7);*/
}

/*.bubble
{
  position: relative;
  height: auto;
  padding: 30px;
  composes: YellowSea from "../css/colours.css";
  composes: CatskillWhite-text from "../css/colours.css";
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 25px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 22px 0;
  border-color: #ffae00 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 36px;
}*/

.bubble {
  position: relative;
  height:  auto;
  padding: 0px;
  background: #ffae00;
  padding: 30px;

  background-color: rgb(38, 153, 38);   /* Legacy fallback */
  background-color: rgba(38, 153, 38, 0.7);
  composes: CatskillWhite-text from "../css/colours.css"; /* Text */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 25px;
  border: #ffae00 solid 3px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 26px 11px 0;
border-color: rgb(38, 153, 38) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -26px;
left: 53px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 28px 13px 0;
border-color: #ffae00 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -31px;
left: 51px;
}

.formInput{
  composes: inputBorder from "../css/input_styles.css";
  margin-top:15px;
}
.formTextarea{
  composes: inputBorder from "../css/input_styles.css";
  margin-top:15px;
  height:130px!important;
}

.reccomendedButton{
  display:inline;
  padding: 5px;
  padding-left:10px;
  composes: inputBorder from "../css/input_styles.css";
  composes: Facebook from "../css/colours.css";
}

.reccomendedContainer{
  margin-top: 40px;
}
.reccomendedLabel{
  padding-left: 5px;
}


.containerPadding{
  composes: Facebook from "../css/colours.css";
}

.submitContainer{
  margin-top:20px;
}


@media (max-width: 768px) {
  .bubbleContainer{
    padding-top:0px;
    padding:0px;
    /*composes: TahitiGold from "../css/colours.css";*/
  }

  .bubble{
    padding:15px;
  }

}
