
.jumboImage {
  background : transparent;
  height:500px;
  position: relative;
}

.jumboHeader {
  color: #e5860f!important;
  font-size: 50px;
}

.jumboPhoneNumber {
  font-weight: bold;
}

.jumboIcons {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.jumboLogo {
  color: #34454f;
  font-size: 40px;
  margin-left: 20px;
}
