
.jumboContainer {
    background: transparent;
    height: 425px;
    position: relative;
    padding-top:55px;
}

.jumboHeader {
  color: #78be20!important;
  font-size: 2.7em!important;
  letter-spacing: 1px;
  font-weight: bold;
}

.subHeading{
  /*font-size: 1em!important;*/
  margin-top: 30px;
margin-bottom: 0px;
  /*margin-bottom: 20px;*/
}

.phoneNumber {
  font-weight: bold;
  font-size: 1.7em!important;
  font-family: "Open Sans", Arial, sans-serif;
}

.phoneNumberMiddle{
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  font-size: 1.8em!important;

}

.jumboIcons {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.jumboLogo {
  color: rgb(27, 27, 27);
  font-size: 35px;
  margin-left: 15px;
  display:inline;
}

.selectContainer{
  padding-top: 40px;
  padding-bottom: 20px;
}


@media (max-width: 768px) {
  .jumboHeader {
    color: #78be20!important;
    font-size: 25px!important;
  }
  .subHeading{
    font-size: 1em!important;
  }
  .phoneNumber {
    font-weight: bold;
    font-size: 1.5em!important;
    margin-bottom: 20px;
  }
  .textContainer{
    margin-bottom:25px;
  }
  .jumboContainer {
    background: rgba(255,255,255,0.6);
    height: auto;
    position: relative;
    padding-bottom: 30px;
    margin-top: 25px;
  }

  .selectContainer{
    padding-top: 20px;
    padding-bottom: 20px;
  }

}
