
.jumboContainer {
  background : transparent;
  height:500px;
  position: relative;
}

.jumboHeader {
  color: #e5860f!important;
  font-size: 3em!important;
}

.subHeading{
  font-size: 1em!important;
}

.phoneNumber {
  font-weight: bold;
  font-size: 1.5em!important;
}

.jumboIcons {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.jumboLogo {
  color: #34454f;
  font-size: 40px;
  margin-left: 20px;
  display:inline;
}

.selectContainer{
  padding-top: 40px;
  padding-bottom: 20px;
}


@media (max-width: 600px) {
  .jumboHeader {
    color: #e5860f!important;
    font-size: 1.2em!important;
  }
  .subHeading{
    font-size: 1em!important;
  }
  .phoneNumber {
    font-weight: bold;
    font-size: 1.5em!important;
    margin-bottom: 20px;
  }
  .textContainer{
    margin-bottom:25px;
  }
  .jumboContainer {
    background: rgba(255,255,255,0.6);
    height: auto;
    position: relative;
    padding-bottom: 30px;
    margin-top: 15px;
  }

  .selectContainer{
    padding-top: 20px;
    padding-bottom: 20px;
  }

}
