.sectionTop {
  background-color: #1b1b1b;
  /*height: 100px;*/
}

.sectionBottom{
  background-color: #545554;
  color: #fff;
  padding: 15px;
  /*height: 100px;*/
}

.footerMenu{
  display:inline!important;
  color: #fff!important;
}

.facebook{
}

.twitter{
  padding-left: 15px;
}
.linkedin{
  padding-left: 15px;
}


.companyInfo{
    padding-top:20px;
    /*padding-top: 10px;*/
  font-size: 0.8em;
}

.disclaimer{
    /*padding-top: 10px;*/
  font-size: 0.8em;
    padding:15px;
}

.borderRight{
  border-right: 1px solid #000;
}


@media (max-width: 768px) {
    .borderRight{
      border-right: 1px solid #000;
    }

  .sectionBottom{
    padding: 0px;
  }
}
