.sectionTop {
  background-color: #34454f;
  height: 100px;
}

.sectionBottom{
  background-color: #5d6a72;
  color: #fff;
  padding: 15px;
  height: 100px;
}

.footerMenu{
  display:inline!important;
  color: #fff!important;
}

.facebook{
}

.twitter{
  padding-left: 15px;
}
.linkedin{
  padding-left: 15px;
}

.footerText{
  font-size: 0.8em;
}
