
.homeWelcomeTextContainer {
  background-color: #e8eef3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.homeWelcomeh2 {
  font-weight: bold;
}

.coverTileContainer > div{
  margin-top:15px;
  margin-bottom:15px;
}
