.homeTextHR {
  border-bottom: 3px solid #1B1B1B;
}

.homeWelcomeTextContainer {
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

.homeWelcomeh2 {
  font-weight: bold;
}

.logoContainer{
  background: transparent;
}


@media (max-width: 768px) {
    .homeWelcomeTextContainer {
      background-color: transparent;
      padding-top: 25px;
      padding-bottom: 25px;
    }
}
